.btn {
  background: #999;
  border-radius: 4px;
  /* rounded corners */
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* Enables non-inline-block elements like <div>s to be buttons */
  margin: 2px 0;
  padding: 10px 14px 11px;
  outline: 0;
  font-size: 14px;
}
.btn:hover {
  background: #888;
}
.btn:active,
.btn:focus {
  background: #777;
}
.btn-primary {
  background: #0ae;
}
.btn-primary:hover {
  background: #09d;
  /* darken(@btn-a-bg, 5%) */
}
.btn-primary:active,
.btn-primary:focus {
  background: #08b;
  /* darken(@btn-a-bg, 10%) */
}
.btn-secondary {
  background: #3c5;
}
.btn-secondary:hover {
  background: #2b4;
  /* darken(@btn-b-bg, 5%) */
}
.btn-secondary:active,
.btn-secondary:focus {
  background: #2a4;
  /* darken(@btn-b-bg, 10%) */
}
.btn-tertiary {
  background: #d33;
}
.btn-tertiary:hover {
  background: #c22;
  /* darken(@btn-c-bg, 5%) */
}
.btn-tertiary:active,
.btn-tertiary:focus {
  background: #b22;
  /* darken(@btn-c-bg, 10%) */
}
.btn-l {
  border-radius: 7px;
  /* rounded corners */
  padding: 12px 30px 14px;
  font-size: 1.61803em;
}

