/* ------------- GRID -------------- */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

.con {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.r {
  position: relative;
  width: 100%;
}

.r .c1,
.r .c2,
.r .c3,
.r .c4,
.r .c5,
.r .c6,
.r .c7,
.r .c8,
.r .c9,
.r .c10,
.r .c11,
.r .c12,
.r .c1-m,
.r .c2-m,
.r .c3-m,
.r .c4-m,
.r .c5-m,
.r .c6-m,
.r .c7-m,
.r .c8-m,
.r .c9-m,
.r .c10-m,
.r .c11-m,
.r .c12-m,
.r .c1-s,
.r .c2-s,
.r .c3-s,
.r .c4-s,
.r .c5-s,
.r .c6-s,
.r .c7-s,
.r .c8-s,
.r .c9-s,
.r .c10-s,
.r .c11-s,
.r .c12-s
{
  float: left;
  margin: 0.5rem;
  min-height: 0.125rem;
  box-sizing: border-box;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
  width: 98%;
}

.c1-s {
  width: 6.33%;
}

.c2-s {
  width: 14.66%;
}

.c3-s {
  width: 23%;
}

.c4-s {
  width: 31.33%;
}

.c5-s {
  width: 39.66%;
}

.c6-s {
  width: 48%;
}

.c7-s {
  width: 56.33%;
}

.c8-s {
  width: 64.66%;
}

.c9-s {
  width: 73%;
}

.c10-s {
  width: 81.33%;
}

.c11-s {
  width: 89.66%;
}

.c12-s {
  width: 98%;
}

.r::after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-width: 53.75em) { /* MD */
  .c1-m {
    width: 6.33%;
  }

  .c2-m {
    width: 14.66%;
  }

  .c3-m {
    width: 23%;
  }

  .c4-m {
    width: 31.33%;
  }

  .c5-m {
    width: 39.66%;
  }

  .c6-m {
    width: 48%;
  }

  .c7-m {
    width: 56.33%;
  }

  .c8-m {
    width: 64.66%;
  }

  .c9-m {
    width: 73%;
  }

  .c10-m {
    width: 81.33%;
  }

  .c11-m {
    width: 89.66%;
  }

  .c12-m {
    width: 98%;
  }
}

@media only screen and (min-width: 65em) {
  .c1 {
    width: 6.33%;
  }

  .c2 {
    width: 14.66%;
  }

  .c3 {
    width: 23%;
  }

  .c4 {
    width: 31.33%;
  }

  .c5 {
    width: 39.66%;
  }

  .c6 {
    width: 48%;
  }

  .c7 {
    width: 56.33%;
  }

  .c8 {
    width: 64.66%;
  }

  .c9 {
    width: 73%;
  }

  .c10 {
    width: 81.33%;
  }

  .c11 {
    width: 89.66%;
  }

  .c12 {
    width: 98%;
  }
}

@media only screen and (min-width: 80em) {
  .con {
    width: 90%;
    max-width: 90rem;
  }
}

/* responsiveness */
.hide-s {
  display: none;
}

@media only screen and (min-width: 65em) {  /* 720px */
  .hide-s {
    display: block;
  }
}
