/* float */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* text-decoration */

.no-text-decoration {
  text-decoration: none !important;
}

/* text-align */

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-align-justify {
  text-align: justify;
}

/* margin-top */

.no-margin-top {
  margin-bottom: 0px !important;
}

.margin-top-s {
  margin-top: 0.5em !important;
}

.margin-top {
  margin-top: 1em !important;
}

.margin-top-l {
  margin-top: 1.61803398875em !important;
}

/* margin-bottom */

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.margin-bottom-s {
  margin-bottom: 0.5em !important;
}

.margin-bottom {
  margin-bottom: 1em !important;
}

.margin-bottom-l {
  margin-bottom: 1.61803398875em !important;
}

/* margin-left */

.margin-left-s {
  margin-left: 0.5em !important;
}

.margin-left {
  margin-left: 1em !important;
}

.margin-left-l {
  margin-left: 1.61803398875em !important;
}

/* margin-right */

.margin-right-s {
  margin-right: 0.5em !important;
}

.margin-right {
  margin-right: 1em !important;
}

.margin-right-l {
  margin-right: 1.61803398875em !important;
}

/* margin */

.no-margin {
  margin: 0px !important;
}

.margin-s {
  margin: 0.5em;
}

.margin {
  margin: 1em;
}

.margin-l {
  margin: 1.61803398875em;
}

/* border-radius */

.border-radius-s {
  border-radius: 4px;
}

.border-radius {
  border-radius: 7px;
}

.border-radius-l {
  border-radius: 24px;
}

/* padding */

.no-padding {
  padding: 0px !important;
}

.padding-s {
  padding: 0.5em;
}

.padding {
  padding: 1em;
}

.padding-l {
  padding: 1.61803398875em;
}

/* padding-top */

.no-padding-top {
  padding-top: 0px !important;
}

.padding-top-s {
  padding-top: 0.5em;
}

.padding-top {
  padding-top: 1em;
}

.padding-top-l {
  padding-top: 1.61803398875em;
}

/* padding-bottom */

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.padding-bottom-s {
  padding-bottom: 0.5em;
}

.padding-bottom {
  padding-bottom: 1em;
}

.padding-bottom-l {
  padding-bottom: 1.61803398875em;
}

/* padding-left */

.padding-left-s {
  padding-left: 0.5em;
}

.padding-left {
  padding-left: 1em;
}

.padding-left-l {
  padding-left: 1.61803398875em;
}

/* padding-right */

.padding-right-s {
  padding-right: 0.5em;
}

.padding-right {
  padding-right: 1em;
}

.padding-right-l {
  padding-right: 1.61803398875em;
}
